<h2 mat-dialog-title>Rules</h2>
<div mat-dialog-content>
  <b>No. of participants:</b> 3-10ish people
  <br/><br/>
  <b>Duration:</b> A few minutes per game
  <br/><br/>
  <hr/>
  <br/>
  Each person is given the same word except one person who is deemed the 'spy'. The spy is shown a different word which is closely related to the original but not quite the same.
  <br/><br/>
  It is not revealed to the participants whether they are the spy or not. Therefore, it is the job of the participants to determine this themselves during the progression of the game. That means that the objective of each participant can change during the game as more information is revealed.
  <br/><br/>
  When the participants have all seen their word, each person has to make a statement about that word (e.g. 'he is a famous actor', 'it is something you can eat'). After every round of statements a participant is voted out and afterwards it is revealed if that participant were the spy or not.
  <br/><br/>
  <b>The game ends when the spy is eliminated or the spy remains as one of the last two players.</b>
  <br/><br/>
  Modify the rules how you want! Feel free to contact me with any suggestions (see my contact info in the bottom of the page) 😃.
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
