<h2 mat-dialog-title>Rules</h2>
<div mat-dialog-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu rhoncus ipsum. Integer quis tortor sollicitudin, tristique neque ac, semper nibh. Etiam rutrum lectus tellus, nec dictum ex pulvinar sit amet. Duis tempus vel purus rutrum lacinia. Donec erat enim, vehicula sed condimentum suscipit, consectetur quis elit. Maecenas finibus commodo auctor. Suspendisse sollicitudin nisi tellus, ut tristique ligula sollicitudin eu.

  Nullam sed dui ante. Ut varius luctus pellentesque. Nunc nec pulvinar nisi. Vivamus vel tellus ultricies, fringilla metus at, aliquam lorem. Etiam venenatis risus a turpis dictum dignissim. Sed vitae urna mauris. Ut eu suscipit massa.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu rhoncus ipsum. Integer quis tortor sollicitudin, tristique neque ac, semper nibh. Etiam rutrum lectus tellus, nec dictum ex pulvinar sit amet. Duis tempus vel purus rutrum lacinia. Donec erat enim, vehicula sed condimentum suscipit, consectetur quis elit. Maecenas finibus commodo auctor. Suspendisse sollicitudin nisi tellus, ut tristique ligula sollicitudin eu.

  Nullam sed dui ante. Ut varius luctus pellentesque. Nunc nec pulvinar nisi. Vivamus vel tellus ultricies, fringilla metus at, aliquam lorem. Etiam venenatis risus a turpis dictum dignissim. Sed vitae urna mauris. Ut eu suscipit massa.
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
