@import "spy-variables";

header {
  height: 74px;

  h1 {
    font-size: min(32px, 8vw);
    overflow: hidden;
    white-space: nowrap;
  }
}

footer {
  height: 32px;
}

footer, header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $blue;
  background-color: $green-light;
  background-image: radial-gradient($green 1px, $green-light 1px);
  background-size: 15px 15px;
}

.main {
  height: calc(100% - 32px - 74px);
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  padding-bottom: 24px;

  .content {
    max-width: 644px;
    margin: 0 auto;
    padding: 0 5vw;
  }
}
