<header>
  <h1>🕵️ Identify the Spy! 🦹️</h1>
</header>
<div class="main">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
<footer>
  <div>Repository — </div>
  <a href="https://github.com/peterclutch/spy-game" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a>
  <div>Contact — </div>
  <a href="https://www.instagram.com/peter.hallum/" target="_blank"><fa-icon [icon]="faLinkedIn"></fa-icon></a>
  <a href="https://www.linkedin.com/in/peterhallum/" target="_blank"><fa-icon [icon]="faInstagram"></fa-icon></a>
</footer>
