<header>
  <h1>🕵️ Identify the Spy! 🦹️</h1>
</header>
<div class="main">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
<footer>
  <div>Repository — </div>
  <a href="https://github.com/peterclutch/spy-game" target="_blank" rel="noreferrer"><fa-icon [icon]="faGithub"></fa-icon></a>
  <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRqw5goOcRYqlGoGtal6MQLrnJPlNWfF1DLKyHlDkMGz3oHzWV-lhR4U-suOO30B5ca0SMkzotxVhcs/pubhtml" target="_blank" rel="noreferrer"><fa-icon [icon]="faGoogleDrive"></fa-icon></a>
  <div>Contact — </div>
  <a href="https://www.linkedin.com/in/peterhallum/" target="_blank" rel="noreferrer"><fa-icon [icon]="faLinkedIn"></fa-icon></a>
  <a href="https://www.instagram.com/peter.hallum/" target="_blank" rel="noreferrer"><fa-icon [icon]="faInstagram"></fa-icon></a>
</footer>
