<div class="container">
  <div class="player-nav">
    <div
      class="player-nav__item"
      *ngFor="let player of players; let index = index"
    >
      <span [class.active]="index === playerViewIndex">{{ player }}</span>
    </div>
  </div>
  <div class="players" *ngFor="let player of players; let index = index">
    <spy-word-display-item
      *ngIf="index === playerViewIndex"
      [player]="player"
      [spy]="player === spy"
      [words]="words"
    ></spy-word-display-item>
  </div>

  <div class="navigation">
    <button mat-button *ngIf="showPrevious()" (click)="previous()">Previous</button>
    <button mat-button *ngIf="showNext()" (click)="next()">Next</button>
    <button mat-button *ngIf="showBegin()" (click)="begin()">🏁 Continue</button>
  </div>
</div>
