@import "spy-variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .navigation {
    margin-top: 20vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;

    button {
      flex: 1 1 auto;
    }
  }
}

.player-nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 5vh;

  &__item {
    color: $teal;
    font-weight: 600;
    padding: 0 6px;
    flex: 1 1 auto;
    text-align: center;
    flex-wrap: wrap;

    .active {
      color: $blue;
      font-weight: bold;
    }
  }
}
